/* global */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Lora', serif;
    font-size: 1.2em;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    padding: 30px;
    flex: 1 0 auto;
    width: 80%;
    justify-self: center;
    align-self: flex-end;
}

/* header */

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    padding: 15px;
    overflow-y: scroll;
    height: 100%;
    background-color: #033968;
    color: white;
    text-align: center;
    box-shadow: 2px 10px 20px #033968;
    display: flex;
    flex-direction: column;
}

nav h1 {
    border-bottom: 1px solid white;
    padding: 5px;
    cursor: pointer;
 }

 nav a {
     text-decoration: none;
     color: white;
     padding: 20px 30px;
     margin: 10px 5px;
     font-size: 1.4rem;
     text-align: center;
     border-radius: 5px;
     transition: background-color 0.3s, color 0.3s;
 }

 nav a:hover,
 .active {
     background-color: white;
     color: #033968;
 }

 nav p {
   border-top: 1px solid whitesmoke;
   margin-top: 25px;
   padding-top: 10px;
   font-size: 0.9rem;
   justify-self: flex-end;
 }

 /* scrollbar */

nav::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
nav::-webkit-scrollbar-track {
    background: #033968; 
  }
   
nav::-webkit-scrollbar-thumb {
    background: whitesmoke; 
  }
  
nav::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 216, 216); 
  }

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
::-webkit-scrollbar-track {
    background: white; 
  }
   
::-webkit-scrollbar-thumb {
    background: #033968; 
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #022b50; 
  }

  /* table */

  .table-container { 
    overflow-y: auto; 
    height: 80vh;
    border: 1px solid #dddddd;
    background-color: white;
    margin: 20px 10px;
  }

  table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
  }

  thead th { 
    position: sticky; 
    top: 0; 
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px 30px;
  }

  th { 
    background:#033968; 
    color: white;
  }

  tr:hover {
    background-color: whitesmoke;
  }

.no-entry-found-message{
  text-align: center;
  padding: 20px 0px;
}

/* media queries*/

@media (max-width: 1300px) {
  nav {
    padding: 10px;
  }

  nav h1 {
    font-size: 1.3rem;
  }

  nav a {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  nav {
    padding: 10px;
    width: 25%;
  }

  nav h1 {
    font-size: 1.2rem;
  }

  nav a {
    font-size: 1.2rem;
  }

  main {
    width: 75%;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  nav {
    padding: 3px;
    width: 30%;
  }

  nav h1 {
    font-size: 0.9rem;
  }

  nav a {
    font-size: 0.9rem;
    padding: 10px 10px;
  }

  nav p {
    font-size: 0.7rem;
  }

  main {
    width: 70%;
    padding: 10px;
  }
}